<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Vinter</h1><br>
    <a href="/register_people">Register People</a><br>
    <a href="/register_rooms">Register Rooms</a><br>
    <a href="/register_space">Register Space</a><br>
    <a href="/list_people">List People</a><br>
    <a href="/list_rooms">List Rooms</a><br>
    <a href="/list_space">List Space</a><br>
</body>
</html>