<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List People</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
            </tr>
        </thead>
        <tbody>
            {% for p in lista %}
                <tr>
                    <td>{{ p['name'] }}</td>
                    <td>{{ p['surname'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>